/* Reset */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  -webkit-text-size-adjust: none;
}

body {
  background-color: #e3e3e3;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input,
button {
  outline: 0;
}

.login-signup {
  width: 300px;
  background-color: #E2E2E2;
  position: relative;
  margin: 0 auto;
  margin-top: 100px;
}

.login-signup-title {
  padding: 15px;
  width: calc(100% - 30px);
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #FF5722;
  border: 1px solid #F55320;
}

.login-signup-content {
  width: calc(100% - 50px);
  position: relative;
  padding: 25px;
  background-color: #FFF;
  border: 1px solid #E2E2E2;
}

.input-name {
  font-size: 14px;
}

.input-margin {
  margin-top: 25px;
}

.input-name h2 {
  padding-bottom: 5px;
  float: left;
}

input.field-input {
  width: calc(100% - 24px);
  margin-top: 12px;
  background-color: rgba(2, 2, 2, 0.07);
  border: 1px solid rgba(0, 0, 0, 0.02);
  border-radius: 8px;
  padding: 6px 12px;
  border-radius: 20px;
}

.check-input {
  width: 16px;
  height: 16px;
  position: relative;
  float: left;
}

input.checkme {
  position: relative;
  top: 2px;
}

div.rememberme {
  font-size: 12px;
  top: 6px;
  position: relative;
  margin-left: 8px;
  float: left;
}

.check-input label {
  cursor: pointer;
  position: absolute;
  width: 14px;
  height: 14px;
  border-radius: 4px;
  top: 5px;
  left: 3px;
  background-color: #FFAB91;
}

.input-r {
  margin-top: 15px;
  position: relative;
}

.check-input label:after {
  opacity: 0;
  content: "";
  position: absolute;
  width: 7px;
  height: 4px;
  background: transparent;
  top: 3px;
  left: 3px;
  border: 2px solid #FFF;
  border-top: none;
  border-right: none;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.check-input label:hover:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
}

.check-input input[type=checkbox]:checked + label:after {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
}

.submit-btn {
  width: 100%;
  margin-top: 28px;
  text-align: center;
  padding: 5px 0;
  border-radius: 20px;
  background-color: #FF5722;
  color: #FFF;
  border: none;
  transition: 0.5s cubic-bezier(0.72, 0.15, 0.53, 0.84);
}

.submit-btn:hover {
  background-color: #F4511E;
}

.forgot-pass {
  width: 100%;
  margin-top: 50px;
  border-top: 1px solid #E0E0E0;
  padding: 5px 0;
  text-align: center;
}

.forgot-pass a {
  text-align: center;
  font-size: 10px;
  color: #757575;
}

#signup .login-signup-content {
  padding-bottom: 46px;
}

.s-atbottom {
  transform: translate3d(100px, -506.5px, 0);
  z-index: 0;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  opacity: 0.6;
}

.s-attop {
  transform: translate3d(100px, -506.5px, 0);
  aha z-index: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
  box-shadow: -5px 6px 48px -13px rgba(0, 0, 0, 0.75);
}

.l-attop {
  z-index: 1;
  -webkit-filter: blur(0);
  filter: blur(0);
  box-shadow: -5px 6px 48px -13px rgba(0, 0, 0, 0.75);
}

.l-atbottom {
  z-index: 0;
  -webkit-filter: blur(1px);
  filter: blur(1px);
  opacity: 0.6;
}

#signup,
#login {
  transition: 0.5s cubic-bezier(0.64, 0.35, 0.58, 1);
}

#login {
  transform: translateX(-160px);
}