* {
  font-family: Helvetica;
  font-weight: 400;
  font-size: 16px;
  color: #bdc3c7;
}

body {
  background-color: #2c3e50;
}

.container {
  max-width: 200px;
  margin: 20px auto;
}

h2 {
  width: 100%;
  margin: 1em 0 .5em 1.2em;
  padding: 0;
  color: rgba(255,255,255,.2)
}

a {
  text-decoration: none;
  font-weight: 900;
  color: #ecf0f1;
}

a:hover {
  color: #bdc3c7;
}

.form {
  width: 100%;
  background-color: rgba(255,255,255,.2);
  text-align: center;
  padding: 1.25em;
  border-radius: 5px;
}

input {
  margin: 0 0 .4em 0;
  width: 100%;
  height: 40px;
  border-radius: 5px;
  box-sizing: border-box;
  box-shadow: 1px 1px 1px rgba(0,0,0,.01);
  border: 0;
  border-bottom: 5px solid rgba(0,0,0,.12);
  line-height: 40px;
}

[type='text'] {
  padding-left: 1em;
}

[type='submit'] {
  color: white;
  background-color: #2980b9;
  font-weight: 600;
}

[type='text']:focus {
  border: 0;
  border-bottom: 5px solid #2980b9;
  color: #2c3e50;
  outline: none;
}





